.box {
	text-align: center;
	border: solid black 1px;
	padding-bottom: 5px;
	padding-top: 5px;
	position: relative;
}

.alert{
	font-size: 20px;
	font-weight: bold;
}

.warning{
	color: red;
}

.left{
	float: left;
	width: calc(50% - 2px);
}
.right{
	width: calc(50% - 2px);
	float: right;
}

.clear{
	clear: both;
}

.button {
	position: absolute;
	bottom: 0px;
	right: 0px;
}

.button-left {
	position: absolute;
	bottom: 0px;
	left: 0px;
}

.story-submit{
	width: 100%;
	height: 100%;
}

.story{
	border-bottom: solid black 2px;
}

.submission{
	padding: 0px;
}

.comment{
	margin-left: 10px;
	margin-right: 10px;
}

.title{
	font-size: 40px;
}

.subtitle{
	font-size: 20px;
}

.comment > .title {
	font-size: 30px;
}

.comment > .subtitle {
	font-size: 15px;
}
